@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html {
    height: 100%;
    min-height: 100%;
}

.inic {
    background-image: url(bg/backgroundDesk.png) !important;
}

body{
    margin: 0;
    background-color: #000!important;
    background-repeat: round;
    font-family: "Pt Sans";
    color: #fff;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    margin-top: 30px;
}

.logoInic {
    width: 30%;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191b1a;
    width: 100%;
    height: 120px;
    border: 0 50px;
}

header img {
    width: 80px;
}

hr {
    margin: 0;
    opacity: 0.5;
    border: 0.2px solid #c4c3bf;
    width: 100%;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

input {
    font-family: "Pt Sans";
    color: #fff;
    font-size: 20px;
}

.infor{
    margin-top: 30px;
    margin-bottom: 30px;
}

.placa{
    background-color: #191b1a;
    border: #fff 2px solid;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-bottom: 35px;
}

label{
    margin: 0;
    margin-bottom: 20px;
}

.bntEntrar{
    background-color: #aa1b13;
    color: #fff;
    border: 0;
    border-radius: 7px;
    font-size: 25px;
    font-family: "Pt Sans";
    height: 45px;
    width: 150px;
    margin-top: 10px;
}

.alert{
    width: 15%;
    height: 15%;
    margin-top: 50px;
}

.tAlert{
    margin: 35px 0 20px 0;
    font-size: 40px;
    text-align: center;
}

.rodp{
    width: 100%;
    background-color: #1d1e20;
    font-size: 20px;
    text-align: center;
}
.rodp p {
    padding: 15px 0;
    margin: 0;
}

.mb40 {
    margin-bottom: 40px;
}
.spanDiv {
    background-color: #191b1a;
    border: #fff 2px solid;
    border-radius: 12px;
    height: 40px;
    width: 150px;
    align-self: center;
    text-align: center;
    font-size: 25px;
}
.spaceTick{
    display: inline-flex;
    width: 23%;
    justify-content: space-between;
}
.termos{
    font-size: 20px;
    margin-bottom: 30px;
}

.termos a {
    color: #fff !important;
}

.parag{
    font-size: 20px;
    margin: 0 10% 0 10%;
    text-align: justify;
    word-wrap: break-word;
    LINE-HEIGHT: 30px;
    width: 50%;
}


/* ////////////////////////////////////// MAP VAGAS /////////////////////////////////// */

.unit{
    width: 150px;
    height: 90px;
    border: 3px solid;
    margin: 20px 0;
    writing-mode: vertical-lr;
    direction: ltr;
}

.rot{
    transform: rotate(180deg);
    padding-top: 10px;
    font-weight: bold;
}

.unitDir{
    width: 150px;
    height: 90px;
     border: 3px solid;
     margin: 20px 0;
     writing-mode: vertical-rl;
     direction: ltr;
 }

.unitDir div{
    padding-top: 10px;
    font-weight: bold;
}

.unitMeio{
    height: 107.2px;
    width: 20px;
    border: 1px solid;
}


.map {
    display: flex;
}

.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}

.mr25{
    margin-right: 25px;
}

.ml25{
    margin-left: 25px;
}

.mt30{
    margin-top: 30px;
}

.rotate{
    transform: rotate(270deg);
}

.flex{
    display: flex;
    margin-top: 20px;
}

.unit img{
    width: 75px;
    transform: rotate(-90deg);
    margin: 9px 0 0 20px;
}

.unitDir img{
    width: 75px;
    transform: rotate(90deg);
    margin: 9px 20px 0;
}
.meio{
    margin: 0 25px;
}


/* ////////////////////////////////////// RESPONSIVE /////////////////////////////////// */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .logoInic {
        width: 70%;
    }
    .title{
        font-size: 35px;
    }
    .inic {
        background-image: url(bg/backgroundDesk.png) !important;
        background-repeat: round;
    }
    .alert{
        width: 36%;
        height: 36%;
        margin-top: 70px;
    }
    
    .tAlert{
        margin: 14px 25px 35px 25px;
        font-size: 35px;
        text-align: center;
    }
    .rodp p {
        padding: 15px 15px;
        text-align: center;
        font-size: 15px;
    }
    .spaceTick{
        display: inline-flex;
        width: 85%;
        justify-content: space-between;
        font-size: 25px;
    }
    .spanDiv {
        background-color: #191b1a;
        border: #fff 2px solid;
        border-radius: 12px;
        height: 40px;
        width: 150px;
        align-self: center;
        text-align: center;
        font-size: 25px;
    }
    .parag{
        font-size: 19px;
        LINE-HEIGHT: 25px;
        width: 80%;
    }
}

@media (max-width: 375px) {
    .title{
        font-size: 30px;
    }
    p{
        margin: 20px 20px;
    }
    .termos{
        font-size: 18px;
    }

    .unit {
        width: 120px;
        height: 90px;
    }
    .unit img{
        margin: 9px 0 0 1px;
    }
    .meio{
        margin: 0 15px;
    }
    .unitMeio{
        width: 10px;
    }
    .unitDir {
        width: 120px;
        height: 90px;
    }
    .unitDir img{
        margin: 9px 1px 0;
    }

}

@media (max-width: 320px) {
    .title{
        font-size: 25px;
    }
    .termos{
        font-size: 15px;
    }
}

