@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html {
    height: 100%;
    min-height: 100%;
}

.inic {
    background-image: url(bg/backgroundDesk.png) !important;
}

body{
    margin: 0;
    background-color: #000!important;
    background-repeat: round;
    font-family: "Pt Sans";
    color: #fff;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    margin-top: 30px;
}

.logoInic {
    width: 30%;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191b1a;
    width: 100%;
    height: 120px;
    border: 0 50px;
}

header img {
    width: 80px;
}

hr {
    margin: 0;
    opacity: 0.5;
    border: 0.2px solid #c4c3bf;
    width: 100%;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

input {
    font-family: "Pt Sans";
    color: #fff;
    font-size: 20px;
}

.infor{
    margin-top: 30px;
    margin-bottom: 30px;
}

.placa{
    background-color: #191b1a;
    border: #fff 2px solid;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-bottom: 35px;
}

label{
    margin: 0;
    margin-bottom: 20px;
}

.bntEntrar{
    background-color: #aa1b13;
    color: #fff;
    border: 0;
    border-radius: 7px;
    font-size: 25px;
    font-family: "Pt Sans";
    height: 45px;
    width: 150px;
    margin-top: 10px;
}

.alert{
    width: 15%;
    height: 15%;
    margin-top: 50px;
}

.tAlert{
    margin: 10px 0 35px 0;
    font-size: 40px;
    text-align: center;
}

.rodp{
    width: 100%;
    background-color: #1d1e20;
    font-size: 20px;
    text-align: center;
}
.rodp p {
    padding: 15px 0;
    margin: 0;
}


/* ////////////////////////////////////// RESPONSIVE /////////////////////////////////// */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .logoInic {
        width: 70%;
    }
    .title{
        font-size: 35px;
    }
    .inic {
        background-image: url(bg/backgroundDesk.png) !important;
        background-repeat: round;
    }
    .alert{
        width: 36%;
        height: 36%;
        margin-top: 70px;
    }
    
    .tAlert{
        margin: 14px 25px 35px 25px;
        font-size: 35px;
        text-align: center;
    }
    .rodp p {
        padding: 15px 15px;
        text-align: center;
        font-size: 15px;
    }
    
}

@media (max-width: 375px) {
    .title{
        font-size: 30px;
    }
    p{
        margin: 20px 20px;
    }
}

@media (max-width: 320px) {
    .title{
        font-size: 25px;
    }
}

