@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html {
    height: 100%;
    min-height: 100%;
}

body{
    margin: 0;
    background-image: url(bg/backgroundDesk.png);
    background-repeat: round;
    font-family: "Pt Sans";
    color: #fff;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    margin-top: 30px;
}

.logoInic {
    width: 30%;
}






/* ////////////////////////////////////// RESPONSIVE /////////////////////////////////// */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    body{
    background-image: url(bg/backgroundMob.png);
    background-repeat: round;
    }
    .logoInic {
        width: 70%;
    }
    .title{
        font-size: 35px;
    }
}

@media (max-width: 375px) {
    .title{
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .title{
        font-size: 25px;
    }
}

